#topDiv
{
	display: flex;
	flex-direction: row;
}

#fileInput
{
	display:flex;
	flex-direction:column;
}

#inputControl
{
	display: flex;
	flex-direction: column;
}


#inputField
{
	display:inline-flex;
	flex-direction: row;
	float: right;
}